@use "../variables/colors" as *;

.section-name {
  margin: 80px;
  text-align: center;
  h2 {
    font-size: 90px;
    font-weight: 900;
    margin-bottom: -20px;
    color: $second;
  }
  p {
    color: black;
    transform: translateX(60px);
    margin-top: 5px;
  }
}
